{{template "base" .}}
{{define "title"}}Todos{{end}}
{{define "main"}}
    <div class="helloContainer">
        <h2 class="landingTitle">Let's get started on your journey of using a basic Todo app</h2>
        <a class="btn waves-effect white" href="/user/register">Get Started</a>
    </div>
{{end}}
