{{template "base" .}}

{{define "title"}}Signup{{end}}

{{define "main"}}
    <h1 class="mainTitle">Register</h1>
    <div class="container">
        <form action='/user/register' method='POST' novalidate>
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
            {{with .Form}}
                <div class="row">
                    <label><h5>Name:</h5></label>
                    {{with .Errors.Get "name"}}
                        <label class='error'>{{.}}</label>
                    {{end}}
                    <input type='text' name='name' value='{{.Get "name"}}'>
                </div>
                <div class="row">
                    <label><h5>Email:</h5></label>
                    {{with .Errors.Get "email"}}
                        <label class='error'>{{.}}</label>
                    {{end}}
                    <input type='email' name='email' value='{{.Get "email"}}'>
                </div>
                <div class="row">
                    <label><h5>Password:</h5></label>
                    {{with .Errors.Get "password"}}
                        <label class='error'>{{.}}</label>
                    {{end}}
                    <input type='password' name='password'>
                </div>
                <div class="row">
                    <input type='submit' class="btn purple white-text" value='Signup'>
                </div>
            {{end}}
        </form>
    </div>
{{end}}
